._faqs_background_img {
    background-image: url('./../../img/faqs-01-01.png');
    width: 100%;
    height: 190vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.mb-0 {
    width: 100%;
    margin: 0 auto;
}

._heading {
    color: white;
    margin-top: 220px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
}


@media only screen and (max-width: 800px) {
    ._faqs_background_img {
        background-image: url('./../../img/faqsmobile.PNG');
        width: 100%;
        height: 240vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    ._heading{
        margin-top: 20px;
    }
}