.mb-0 {
    width: 100%;
    margin: 0 auto;
}

._Correctcircle {
    width: 30px;
    height: 30px;
    float: left;
}

._service_txt {
    line-height: 1.6em;
    font-size: 20px;
    font-family: "Gentium Basic";
    font-weight: 400;
    color: rgb(51, 51, 51);
    padding-left: 10%;
}

@media only screen and (max-width: 800px) {
    ._service_txt {
        padding-left: 20%;
    }
}